body {
    font-family: 'Poppins';
    margin: 1vw;
    padding: 1vw;
    color: white;
    background-color: black;
    
}

li img, p {
    display: inline-block;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
